main{
    display: grid;
    grid-template-areas: 
        "head head head"
        "side content content"
        "foot foot foot";

    grid-template-rows: 30px auto 30px;
}

header { grid-area: head;}
article { grid-area: content;}
aside { grid-area: side;}
footer { grid-area: foot;}